---
import { getCollection } from "astro:content"
import BaseDocument from "../../components/BaseDocument.astro"
import { getFullPath } from "../../helpers/path"
import Link from "../../components/Link.astro"
import Content from "../../layouts/Content.astro"
import type { Tip } from "../../types/Tip"

const tips: Tip[] = await getCollection("tip")
---

<Content
	breadcrumbs={[]}
  cover="/tips-cover.png"
  showCover={false}
	title="TypeScript Tips"
	description="Write better TypeScript code with these tips ✨"
>
	<div slot="parent">
		{
			tips.map(tip => {
				const path = getFullPath("tips", tip.slug)

				return (
					<Link
						href={path}
						className="px-4 py-6 block group bg-white bg-opacity-10 rounded-sm mb-3 hover:bg-main border-2  border-white border-opacity-10 transition-colors"
					>
						<span class="group-hover:text-yellow text-xl font-bold block border-b-white border-b border-opacity-10 pb-4">
							{tip.data.title}
						</span>
						<p class="m-0 mt-4">{tip.data.description}</p>
					</Link>
				)
			})
		}
	</div>
</Content>
