---
import BaseDocument from "../components/BaseDocument.astro"
import Articles from "../components/Tips.astro"
---

<BaseDocument title="Welcome to Astro." image="" description="">
	<main class="container padding">
		<h1 class="main-title">simpletypescript.dev</h1>
		<Articles />
	</main>
</BaseDocument>

<style></style>
