---
import type { Breadcrumb } from '../types/Breadcrumb'

type Props = {
	paths: Breadcrumb[]
}

const { paths } = Astro.props
---

<div class="breadcrumb">
	{paths.map(path => <a href={path.path}>{path.label}</a>)}
</div>

<style>
	.breadcrumb {
		margin-bottom: 20px;
		display: flex;
		--gap: 10px;
		gap: var(--gap);

		a {
			color: color-mix(in srgb, var(--text-color), var(--primary-color) 20%);
			transition: 300ms;

			&:hover {
				color: var(--green);
			}

			&:not(:first-child)::before {
				content: "/";
				display: inline-block;
				margin-right: var(--gap);
			}
		}
	}
</style>
