---
import { getCollection } from "astro:content"
import type { Lesson } from "../types/Course"
import Link from "./Link.astro"
import { getFullPath, removeNumberPrefix } from "../helpers/path"
import { LINKS } from "../constants"

const lessons: Lesson[] = await getCollection("course")

const DISPLAY_LIMIT = 6
---

<section class="bg-course">
	<div class="padding-lg container">
		<h2 class="mb-4">Simplified TypeScript Course</h2>
		<div class="lessons">
			{
				lessons.slice(0, DISPLAY_LIMIT).map(lesson => {
					const path = getFullPath("course", removeNumberPrefix(lesson.slug))

					return (
						<Link
							href={path}
							className="p-4 block bg-opacity-10 rounded-sm mb-3 hover:bg-w border-2 hover:text-yellow border-white border-opacity-10 transition-colors"
						>
							{lesson.data.title}
						</Link>
					)
				})
			}
		</div>
		<Link
			className="bg-green py-3 px-4 border-solid border-2 border-green text-course hover:bg-course hover:text-green transition-colors"
			href={LINKS.pagePaths.course}>Check out all lessons</Link
		>
	</div>
</section>

<style is:global lang="scss">
	hr {
		border-color: var(--white-200);
		margin: 50px 0;
		width: 40%;
	}

	.lessons {
		padding: 20px 0;
		--main-color: var(--course-color);

		.lesson {
			border: 1px solid color-mix(in srgb, var(--main-color), white 20%);
			color: var(--text-color);
			transition: 300ms;
			overflow: hidden;

			&__cover {
				transition: 300ms;
			}

			&:hover {
				border-color: var(--main-color);

				.lesson__cover {
					transform: scale(1.1);
					background-color: var(--white-100);
				}
			}
		}
	}
</style>
