---
type Props = {
  type?: 'normal' | 'large'
}

const {type = 'normal'} = Astro.props
---

<div class={`info ${type}`}>
  <slot />
</div>

<style>
  div.info {
    
    padding: 10px;
    color: var(--text-color);
    margin: 10px 0;
    border-radius: 10px;
    display: inline-block;
    border: 1px solid var(--blue);
    background-color: color-mix(in srgb, var(--blue), transparent 90%);

    &.normal {
      font-size: 0.9em;
    }

    &.large {
      font-size: 1.2em;
    }

    * {
      margin: 0;
    }
  }
</style>