---
import { getCollection } from "astro:content"
import BaseDocument from "../../components/BaseDocument.astro"
import Layout from "../../layouts/Layout.astro"
import type { Lesson } from "../../types/Course"
import { getFullPath } from "../../helpers/path"
import Link from "../../components/Link.astro"
import Content from "../../layouts/Content.astro"

const lessons: Lesson[] = await getCollection("course")
---

<BaseDocument title="Simplified TypeScript Course" description="">
	<Content breadcrumbs={[]} title="Simplified TypeScript Course" description="">
		<div slot="parent">
			<p class="mt-4 text-xl">
				Learn TypeScript from beginner to advanced with these lessons
			</p>
			<div class="mt-8">
				{
					lessons.map(lesson => {
						const path = getFullPath("course", lesson.slug)

						return (
							<Link
								href={path}
								className="p-4 block bg-white bg-opacity-10 rounded-sm mb-3 hover:bg-primary border-2 hover:text-yellow border-white border-opacity-10 transition-colors"
							>
								{lesson.data.title}
							</Link>
						)
					})
				}
			</div>
		</div>
	</Content>
</BaseDocument>
