---
import type { Tip, TipFrontmatter } from "../types/Tip"
import Content from "./Content.astro"

type Props = TipFrontmatter

const { title, description } = Astro.props

const breadcrumbs = [
	{
		path: "/",
		label: "Home",
	},
	{
		path: "/tips",
		label: "Tips",
	},
]
---

<Content breadcrumbs={breadcrumbs} title={title} description={description}>
	<div slot="content">
		<slot />
	</div>
</Content>
